/* rules for header__inner element */

.header__inner {
  margin: 28px 0 0 0;

  display: flex;
  justify-content: space-between;

  grid-column: 1 / -1;
}

/*
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .header__inner {
    margin: 28px 0 0 0;
  }
}
*/

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header__inner {
    margin: 28px 24px 0 24px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header__inner {
    margin: 16px 16px 0 16px;
  }
}
