/* rules for lead block */

.lead {
  margin: 0; 

  display: flex;
  flex-direction: column;

  align-items: center;

  grid-column: 2 / -2;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .lead {
    grid-column: 1 / -1;
  }
}
