/* rules for header__lang-select-elem_selected modifier */

.header__lang-select-elem_selected {

}

.header__lang-select-elem_selected::before {
  width: 100%;
  height: 2px;

  content: "";

  background-color: #fff;

  position: absolute;
  bottom: -4px;
  left: 0;
}
