/* rules for places__link-container element */

.places__link-container {
  margin: 0;
  padding: 0;

}

.places__link-url-text {
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  letter-spacing: 2px;

  color: #aaa;

  align-self: end;
}
